.map-container {
    height: 800px;
}

.info-box {
    z-index: 1;
    height: 180px;
    width: 150px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(255, 255, 255, .9);
    padding: 15px;
    text-align: left;
    font-family: 'Arial';
    margin: 0;
    font-size: 10px;
}